body {
	background-color:black;
	color:white;
	font-family:tahoma;
}

p {
	font-family:tahoma;
}

h2 {
	font-family:tahoma;
	color: white;
	font-variant: small-caps;
	font-size:190%;
}

h1 {
	font-family:tahoma;
	color: white;
	font-variant: small-caps;
	font-size:450%;
}

h3 {
	font-family:tahoma;
}

a:link { 
	color: white; 
	text-decoration: none;
}

a.navbarlink {
	color: white;
	text-decoration: none;
}

a:visited { 
	color: white; 
	text-decoration: none;
}

a:active { 
	color:gray; 
	text-decoration: none;
}

a:hover { 
	color:gray; 
	text-decoration: underline;
}

img { 
	border: none; 
}

#header {
	width: 94%;
	margin-top: 100px;
	margin: 0 auto;
	font-variant: small-caps;
	text-align:center;
	/* position:fixed; */

}


#page {
	/* padding-top: 100px; */
	width: 94%;
	margin: 0 auto;
}

#left {
	width:80%;
	margin: 0 auto;
	float: left;    
}

#right {
	width:20%;
	margin: 0 auto;
	float: right;
}
